


@media (max-width: 991px) { 
	
	#home ul {
		background-color: dimgrey;
		padding-top: 0.3rem;
		padding-bottom: 0.3rem;
		padding-left: 1.4rem;
		padding-right: 0.2rem;
	}
	#home h2 {
		font-size: 1rem;
	}
	#home p {
		font-size: 0.8rem;
	}
} 

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
	#home {
/*		background-color: green;*/
	}
	
	#home ul {
		font-size: 1.2rem;
		display: block;
		
	}
	
	section#plan img{

		max-height: 160px;
	
}

} 

/*///////// thank_you.html //////////////*/

body#thanks {
    background: #f1f1fa;
    padding-top: 5em;
    font-size: 0.9em;
    text-align: center;
    line-height: 1.5em;
    font-family: 'proxima-nova-soft', sans-serif;
}

ol{
    list-style: none;
}
ol > li{
    padding-left: 20px;
    position: relative;
    margin: 10px;
}
ol > li:before{
    content: '✔';
    position: absolute; top: 0; left: 0;
    color: gray;
}